@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
$primary-color : #9356DC;
$secondary-color : #FF79DA;
$third-color : #99E2D0;

@mixin purple_number
 {
    border: 1px solid $primary-color;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center; 
    margin-right: 20px; 
    margin-left: -33px;
}
@mixin btn-purple
{
    color: white;
    border-radius: 27px 27px 27px 27px;
    border: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background-image: linear-gradient($secondary-color, $primary-color);
    padding: 15px;
    box-shadow: 2% 2% 1% #7A7B7B;
    max-width: 200px;
    text-align: center;
}

body
{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: auto;
}


.logo
{
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.secondHeader
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color:#F3F3F3;
    box-shadow: 0px 0px 3px 0px;
   
}
.localisation-icons
{
    margin-right: 15px;
}
.firstArticle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 115%;
    background-color: #fafafad8;
    height: 285px;
}
.secondArticle
{
    margin-top: 50px;
    h2{
        margin-left: 25px;
    }
}

h2.title
{
    text-align: center;
    margin-left: 60px;
    margin-right: 45px;
    margin-top: 0px;
    margin-bottom: 2px;
    font-weight: bold;
}
p
{
    text-align: center;
    
}
.exploration
{
    @include btn-purple
}
.exploration1
{
    margin: auto;
    width: 195px;
    @include btn-purple
    
}
.secondTitle
{
    margin-left: 15px;
    font-weight: bold;
}
ol.liste
{
    padding: 0%;
}
.fonctionnement
{
    list-style: none;
    border: 27px solid #F2F2F2;
    border-radius: 27px 27px 27px 27px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 80%;
    margin-left: 65px;
    font-weight: bold;
}
li
{
    display: flex;
    align-items: center;
    position: relative;
    right: 32px;
}
.number
{
    @include purple_number;
}
.icons
{
    margin-right: 20px;
}
.fa-store
{
    color: $primary-color;
}

.thirdArticle
{
    background-color: #f2f2f2;
    margin-top: 60px;
    height: 1220px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.thirdTitle
{
    margin-top: 50px;
    margin-left: 20px;
}
.card
{
    text-decoration: none;
    color: black;
}

img.platCard
{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 17px 17px 0px 0px;
}
.restaurantCard
{
    border-radius: 17px 17px 17px 17px;
    border: 1px solid white;
    margin: auto;
    box-shadow: 1px 10px 10px #F3F3F3;
    background-color: white;
    width: 90%;
    height: 250px;
    margin-bottom: 0px;
}
.figureCaption
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    max-height: 95px;
}
.cardTitle
{
    margin: 10px;
}
.localisationDescription
{
    margin-left: 10px;
    margin-top: 0px;
}
.new
{
    position: absolute;
    right: 50px;
    top: 975px;
    background: $third-color;
    border-radius: 1px 1px 1px 1px;
    border: 4px solid $third-color 
}
.new1
{
    position: absolute;
    right: 50px;
    top: 1255px;
    background: $third-color;
    border-radius: 1px 1px 1px 1px;
    border: 4px solid $third-color 
}
.headerMenu
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 20px;
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
    .coeur
    {
        margin-left: 30px;
    }
}
.entrées, .plats, .desserts
{
    margin-left: 10px;
    font-weight: normal;
    border-bottom:2px solid $third-color;
    width: 10%;
}
.coeur
{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 80px;
    font-size: 25px;
    &:hover{
    transition: transform 1000ms linear;
    background-color: $primary-color;
}
}
.footerCard
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 10px;
}

footer
{
    display: flex;
    flex-direction: column;
    height: 190px;
    background-color: #000000BA;
}
.link
{
    color: white;
    text-decoration: none;
}
.footerLogo
{
    color: white;
    font-family: 'Shrikhand';
    font-size: 20px;
}

.footerContainer
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
}
.iconFooter
{
    margin-right: 10px;
}
.offerFooter
{
    color: white;
    margin-top: 10px;
}

.enteteImg
{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.carte
{
    border: 1px solid white;
    border-radius: 27px 27px 0px 0px;
    position: relative;
    top: -35px;
    background-color: #F3F3F3;
    height: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.detail
{
    border: 1px solid white;
    border-radius: 17px 17px 17px 17px;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px 5px #F3F3F3;
    height: 65px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    strong{
        margin-top: 10px;
        margin-bottom: 3px;
        margin-left: 10px;
    }
}

.sousMenu
{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    

}